@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --white-color: #ffffff;
    --primary-color: #2d3081;
    --secondary-color: #5658a7;
    --section-bg-color: #f0f8ff;
    --custom-btn-bg-color: #7f73eb;
    --social-icon-link-bg-color: #7f73eb;
    --dark-color: #000000;
    --p-color: #717275;
    --border-color: #e9eaeb;
  
    --body-font-family: "REM", sans-serif;
  }
  
body {
    background-color: var(--white-color);
    font-family: var(--body-font-family);
    font-weight: 100;
    padding-top: 0px;

}
#scrollBar{
    width: 1%;
    height: 7px;
    background: var(--custom-btn-bg-color);
    position: fixed;
    top: 0;
    z-index: 9999;
    animation: scroll linear;
    animation-timeline: scroll();
    box-shadow: rgba(0, 0, 0 , .25) 0 5px 10px;
}
h2{
    font-size: var(--h2-font-size);
}
.hero-sec{
    position: relative;
    background: var(--social-icon-link-bg-color);
    min-height: 100dvh;
    overflow: hidden;
    .hero-container{
        background: #ffffff;
        height: 100dvh;
        .mySwiper{
            swiper-slide{
                padding-top: 125px;
                /* background: linear-gradient(to bottom, var(--background-color) calc(100% - 50px), white calc(100% - 50px)); */
                background: var(--background-color);
                opacity: 1;
                pointer-events: none;
                width: 100lvw;
                gap: 75px;
                .text{
                    /* color: white; */
                    flex: 1.25;
                    flex-wrap: wrap;
                    color:#fff;
                    min-width: 390px;
                    h2{
                        font-size: 48px;
                        font-weight: 700;
                        /* color: var(--white-color); */
                    }
                    h4{
                        font-size: 24px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 20px;
                        font-weight: 400;
                    }
                    button{
                        background:transparent;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                        margin-top: 20px;
                        border: 2px solid white;
                        cursor: pointer;
                        transition: background 0.3s ease-in-out;
                        pointer-events: auto;
                        font-size: 18px;
                        &:hover{
                            background: white;
                            color: var(--background-color);
                        }
                    }
                }
                .img{
                    flex: 1.20;
                    min-width: 350px;
                    img{
                        width: 100%;
                        object-fit: contain;
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background:var(--background-color);
                    z-index: -1;
                }
            }
        }
    }
    svg{
        position: absolute;
        bottom: 0;
        left: -20px;
        width: calc(100% + 40px);
        z-index: 1;
        .wave1 {
            animation: waveMove 1s 0s infinite ease-in-out alternate;
        }
        .wave2 {
            animation: waveMove 1s 1s infinite ease-in-out alternate;
        }
        .wave3 {
            animation: waveMove 1s 2s infinite ease-in-out alternate;
        }

    }
}
.partners-sec .slider {
    min-height: calc(var(--item-height) * 1.1);
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-mask-image: linear-gradient(to right, transparent, black 25% 75%, transparent);
    mask-image: linear-gradient(to right, transparent, black 25% 75%, transparent);
}

.partners-sec .slider .item {
    width: var(--item-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    --slider-duration: 25s;
    -webkit-animation: autoRun var(--slider-duration) linear infinite both;
    animation: autoRun var(--slider-duration) linear infinite both;
    animation-delay: calc((( var(--slider-duration) / var(--quantity)) * (var(--position) - 1)) * -1);
}

.partners-sec .slider .item img {
    height: var(--item-height);
    -webkit-filter: brightness(0) invert(.25);
    filter: brightness(0) invert(.25);
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.partners-sec .slider .item img:hover {
    -webkit-filter: brightness(1) invert(0);
    filter: brightness(1) invert(0);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.partners-sec .slider:hover .item {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.projects-section{
    background:  var(--section-bg-color);
    margin-top: 100px !important;
    .swiper {
        width: 100%;
        padding: 20px;
      }
      
      .swiper-slide {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 15px;
        overflow: hidden;
        cursor: grab;
        /* padding: 10px; */
        .content{
            padding: 15px 20px;
            h3{
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 0 !important;
            }
            span{
                font-size: 13px;
                color: var(--primary-color);
                font-weight: 500;
            }
            p{
                margin-top: 5px;
                font-size: 14px;
                color: var(--p-color);
            }
        }
      }
      .swiper-slide img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
        filter: saturate(.75);
        aspect-ratio: 16/9;
        object-fit: cover;
      }
      
}
.achivements-sec{
    justify-content: center;
    .col{
        margin: 30px auto;
        flex-wrap: nowrap;
        position: relative;
        justify-content: center;
        /* background: linear-gradient(90deg, var(--primary-color), var(--secondary-color)); */
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        padding: 0;
        display: flex;
        .icon{
            width:120px;
            padding: 20px;
            aspect-ratio: 1/1;
            background: var(--primary-color);
            display: grid;
            place-items: center;
            border: 5px solid white;
            border-radius: 50%;
            transition: scale 0.3s ease-in-out;
            scale: 1.01;
            img{
                height: 70px;
                aspect-ratio: 1/1;
            }
            &:hover{
                background: var(--secondary-color);
                scale: 1.1;
            }
        }
        .text{
            display: flex;
            align-items: center;
            margin: 0 15px;
            /* color: white; */
            width: fit-content;
            text-wrap: wrap;
            position: relative;
            

        }
        /* &::after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 60px solid transparent;
            border-right: 45px solid white;
            border-bottom: 60px solid transparent;
            right: 0;
        } */
    }
}
.num-title{
    font-size: 24px;
    font-weight: 500;
    span{
        font-weight: 700;
        font-size: 32px;
    }
}
.pop-up-compitition{
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    overflow: auto;
    .panel{
        animation: fadeInScale 0.5s ease-in-out;
        display: none;
        max-height: 75dvh;
        .exit{
            i{
                cursor: pointer;
            }
        }
        .comptition-info{
            .info{
                .awards{
                    ul{
                     li{
                        position: relative;
                        margin: 10px 0;
                        padding-left: 50px;
                         &::before{
                            content: "";
                            background: url('../images/compititions/medals/champion.png') no-repeat center;
                            background-size: contain; 
                            width: 40px; 
                            height: 40px;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                         }
                     }
                    }
                }
            }
        }
    }
    
}
@keyframes scroll {
    0% {
        width: .5%;
    }
    100% {
        width: 100%;
    }
}

@keyframes waveMove {
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(10px);
    }
}
@-webkit-keyframes autoRun {
    from {
        left: calc((var(--item-height) * 1.5) * (var(--quantity) - 1));
    }
    to {
        left: calc((var(--item-height) * 1.5) * (var(--quantity) / 2 * -1));
    }
}

@keyframes autoRun {
    from {
        left: calc((var(--item-height) * 1.5) * (var(--quantity) - 1));
    }
    to {
        left: calc((var(--item-height) * 1.5) * (var(--quantity) / 2 * -1));
    }
}
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
    
}
@media screen and (max-width: 825px){
    .achivements-sec{
        .col{
            .text{
                width: min-content;
            }
        }
        .num-title{
            font-size: 18px;
            span{
                font-size: 24px;
            }
        }
    }
    .hero-sec{
        .hero-container{
            .mySwiper{
                swiper-slide{

                    .img{
                        min-width: 400px;

                    }

                }
            }
        }
        svg{
            position: absolute;
            bottom: 0;
            left: -20px;
            width: calc(100% + 40px);
            z-index: 1;
            .wave1 {
                animation: waveMove 1s 0s infinite ease-in-out alternate;
            }
            .wave2 {
                animation: waveMove 1s 1s infinite ease-in-out alternate;
            }
            .wave3 {
                animation: waveMove 1s 2s infinite ease-in-out alternate;
            }
    
        }
    }
}