@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Sriracha&display=swap");
@import url("./bootstrap-icons/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  outline: none;
}
:root {
  --primary: #2d2f7e;
  --secondary: #4a4db8;
  --info: #00c2c7;
  --warning: #ffcc00;
  --danger: #ff6b6b;
  --success: #a8d5ba;
  --light: #f4f4f4;
  --dark: #1a1a1a;
  --primary-font: "Sriracha", serif;
  --secondary-font: "Comfortaa", serif;
}
body {
  padding-top: 120px;
  scroll-behavior: smooth;
  font-family: var(--secondary-font);

  .border-none {
    border: none !important;
    box-shadow: none !important;
  }

  .border-none:focus {
    border: none !important;
    box-shadow: none !important;
  }
  .ff-secondary {
    font-family: var(--secondary-font);
  }
}
.navbar {
  backdrop-filter: opacity(0.2);
  border-radius: 3rem;
  backdrop-filter: blur(5px);
  transition: height 0.3s linear;

  .container {
    .navbar-brand {
      width: 160px;
    }
  }
  .collapse {
    .container {
      .nav-link {
        position: relative;
        margin-bottom: 1px;
        &.active {
          color: var(--primary);
          &::before{
            content: '';
            position: absolute;
            right: 50%;
            left: 50%;
            bottom: -3px;
            height: 2px;
            background: var(--primary);
            border-radius: 3px;
            transition:  .125s linear;
          }
          &:hover{
            &::before{
              left: -3px;
              right: -3px;
            }
          }
          
        }
      }
    }
  }
}
.hero-sec {
  .hero-container {
    .hero-content {
      min-width: 400px;
      .text {
        p {
          color: gray;
        }
        button {
          padding: 10px 20px;
          font-size: 1.2rem;
          font-family: var(--secondary-font);
          border: none;
          cursor: pointer;
          transition: box-shadow 0.25s linear;
          border-radius: 5px;
          &:hover {
            box-shadow: -3px 3px 3px rgb(105, 105, 105);
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
    .hero-img {
      flex: 50;
      display: grid;
      place-items: center;
      min-width: 400px;

      img {
        width: 80%;
        animation: float 3s infinite linear;
      }
    }
    a {
      color: gray;
    }
    .next {
      position: absolute;
      bottom: 10px;
      left: calc(50% - 15px);
      width: 30px;
      height: 50px;
      border: 1px solid gray;
      border-radius: 15px;
      display: grid;
      place-items: center;
      color: gary;
    }
  }
}
/* .h2 {
  font: ;
} */
.footer {
  background: var(--primary-color);
  padding: 20px;
  color: white;
  a {
    color: white;
  }
  .container {
    width: fit-content;
    margin: 0 auto;
    .icons {
      display: flex;
      gap: 2dvw;
      i {
        font-size: 2vw;
      }
    }
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }
}
